/**
 * TABLE OF CONTENTS
 *
 * SETTINGS
 * Global..................Globally-available variables and config.
 *
 * TOOLS
 * Mixins..................Useful mixins.
 *
 * COMPONENTS
 *
 *
 * MODULES
 *
 */
/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/
/**
 * Returns the value of the `$key` value of a provided `$map`.
 */
/**
 * Uses `getProperty()` to return a value from the `$colors` map.
 */
/**
 * Uses `getProperty()` to return a value from the `$breakpoints` map.
 */
/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/
/*------------------------------------*\
  #COLORS
\*------------------------------------*/
/*------------------------------------*\
  #ELEMENT-DEFAULTS
\*------------------------------------*/
/*------------------------------------*\
  #HEADER-DEFAULTS
\*------------------------------------*/
/*------------------------------------*\
  #HORIZONTAL-SPACING
\*------------------------------------*/
/*------------------------------------*\
  #BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*\
  #TRANSITIONS
\*------------------------------------*/
/*------------------------------------*\
  #TOOLS
\*------------------------------------*/
/**
 * Responsive Mixin
 * This mixin is designed for a _cleaner_ first approach
 * This means that css isn't overridden but rather replaced for
 * different viewport widths; making it easier to inspect/debug css
 *
 * Usage:
 * @include media-query(exclude-medium)    { ... }
 * @include media-query(medium-up-to-site) 	   { ... }
 * ... etc
 */
/**
 * [Adds styles to allow an element's height scale proportionatelly]
 * @param  {[Number]} $width
 * @param  {[Number]} $height
 */
/**
 * [Calculates the percentage aspect ratio (what % height is compared to the width)]
 * @param  {[Number]} $width
 * @param  {[Number]} $height
 * @return {[Number(%)]}
 */
/**
 * *****REMEMBER TO USE MARGIN OR PADDING AND NOT TOP/BOTTOM******
 * [Calculates the center of an element in relation to a provided width and height.
 * Useful to place an absolute element at the center of another when
 * the positioned element cannot be the target's child ]
 * @param  {[Number]} $width
 * @param  {[Number]} $height
 * @return {[Number(%)]}
 */
/**
 * [In the  awful case you can't use Flexbox to vertically align something]
 * @param  {[type]} $transform:       false         [Use transforms to align instead of the absolute trick]
 * @param  {[type]} $pos:             absolute      [position type]
 * @param  {[type]} $posAdj:          0             [position adjustment. If $transform is true, this value only affects the 'top' property.]
 * @param  {[type]} $alignHorizontal: false         [Includes horizontal alignment]
 */
/**
 * Generate Enumerated Class
 * Iterates from 0 to the specified length and generates classes that set the specified property
 * @param  {[String]} $classname:       required      [Required: Specify the class name]
 * @param  {[String]} $property:        $classname    [Optional: Specify the enumerated property (if it's different from the name of the class)]
 * @param  {[Number]} $length:          10            [Optional: Specify the end of the loop]
 * @param  {[String]} $units:           null          [Optional: specify units to append to the enumerated property]
 */
/**
* [Strip the pesky units from values]
* @param  {[Number]} $value
*/
/**
* [Fluid Type]
*/
/**
 * Expose a single property to handle the different text-underline preferences for RTL vs LTR.
 */
/**
 * POSTCSS-RTL/POSTCSS-RTLCSS Has issues parsing inline comments when using production mode, which removes CSS comments.
 * Using the important comment syntax doesn't seem to work either, as that just results in appending the comment with no functionality.
 */
/*------------------------------------*\
  #EXTERNALS
\*------------------------------------*/
.address-summary--multi-ship-summary .address-summary__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.address-summary--multi-ship-summary .address-summary__section {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-width: 50%;
}

[dir="ltr"] .address-summary--multi-ship-summary .address-summary__section {
  padding-right: 2em;
}

[dir="rtl"] .address-summary--multi-ship-summary .address-summary__section {
  padding-left: 2em;
}

.address-summary--line-item {
  padding: 1rem;
  background-color: #F9F9F9;
  font-size: 0.875rem;
}

.address-summary__section:not(:first-child) {
  margin-top: 1.5em;
}

.address-summary__title {
  margin-bottom: 0.5em;
}

.address-summary__details {
  line-height: 1.75;
  overflow-wrap: break-word;
}

.address-summary__row-icon {
  width: 2.25rem;
}

[dir="ltr"] .address-summary__row-icon {
  margin-right: 0.5rem;
}

[dir="rtl"] .address-summary__row-icon {
  margin-left: 0.5rem;
}

.address-summary__actions {
  margin-top: 2rem;
}

@media (max-width: 47.9375rem) {
  .address-summary__action-col:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
.address-recommendation__summary {
  padding: 1rem;
  border: solid 0.0625rem;
  -webkit-box-shadow: 0 0 transparent;
          box-shadow: 0 0 transparent;
  border-radius: 0;
  -webkit-transition: border-color 300ms ease-in-out, background-color 300ms ease-in-out, -webkit-box-shadow 500ms ease-in-out;
  transition: border-color 300ms ease-in-out, background-color 300ms ease-in-out, -webkit-box-shadow 500ms ease-in-out;
  transition: border-color 300ms ease-in-out, background-color 300ms ease-in-out, box-shadow 500ms ease-in-out;
  transition: border-color 300ms ease-in-out, background-color 300ms ease-in-out, box-shadow 500ms ease-in-out, -webkit-box-shadow 500ms ease-in-out;
}
.address-recommendation__summary:hover {
  cursor: pointer;
  background-color: #1D1C1C;
  color: #FFF;
  border-color: #1D1C1C;
}

.address-recommendation__option:checked + .address-recommendation__summary {
  border-color: #1D1C1C;
  background-color: #1D1C1C;
  color: #FFF;
  -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}
.address-recommendation__option:focus:not(:checked) + .address-recommendation__summary {
  background-color: #5A5A5A;
}

@media (min-width: 48rem) {
  .address-recommendation:nth-child(n+3) {
    margin-top: 1.25rem;
  }
}
@media (max-width: 47.9375rem) {
  .address-recommendation:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.total-list__row:not(:last-child) {
  margin-bottom: 1.25rem;
}

.total-list__row--short-spacing:not(:last-child) {
  margin-bottom: 0.5rem;
}

.total-list__division {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.store-locator__detect-location {
  margin-top: 0.5rem;
}

.store-locator__result-content {
  display: block;
}
.store-locator__result-content:hover {
  cursor: pointer;
}
.store-locator__result-content:hover .store-details__name {
  text-decoration: underline;
}

.store-locator__form {
  margin-bottom: 3rem;
}

.store-locator__results,
.store-locator__results--extended {
  overflow: auto;
}

.store-locator__result-item {
  position: relative;
}

.store-locator__no-results {
  margin: auto;
}

.store-locator__actions {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.store-locator__result-item--extended:not(:last-child) {
  margin-bottom: 3.5rem;
}

.store-details--extended .store-details__name {
  margin-bottom: 1rem;
}
.store-details--extended .store-details__section:not(:last-child) {
  margin-bottom: 1.5rem;
}

.store-details--extended .store-details__availability-indicator {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 1.25rem;
}

[dir="ltr"] .store-details--extended .store-details__availability-indicator {
  margin-right: 0.5rem;
}

[dir="rtl"] .store-details--extended .store-details__availability-indicator {
  margin-left: 0.5rem;
}

.store-locator--product-availability .store-locator__contact-form {
  display: none;
  margin-bottom: 1.5rem;
  max-width: 23.5rem;
}
.store-locator--product-availability.set--show-form .store-locator__contact-form {
  display: block;
}
.store-locator--product-availability.set--show-form .store-details--extended:not(.set--show-form) {
  display: none;
}
.store-locator--product-availability.set--show-form .store-locator__query-section-wrapper {
  display: none;
}
.store-locator--product-availability .store-details__hidden-actions {
  display: none;
  margin-bottom: 2rem;
}
.store-locator--product-availability .store-details__contact-description {
  margin-top: 3.25rem;
}
.store-locator--product-availability .store-details--extended.set--show-form .store-details__check-availability {
  display: none;
}
.store-locator--product-availability .store-details--extended.set--show-form .store-details__hidden-actions {
  display: block;
}
.store-locator--product-availability .store-details__hours {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}
.store-locator--product-availability .store-details__hours-day {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.25rem;
          flex: 0 0 6.25rem;
}

.store-locator--store-pickup .store-details__name,
.store-locator--store-pickup .store-details__address {
  margin-bottom: 1rem;
}

.store-locator--store-pickup .store-locator__result-details-cta {
  margin-top: 0.35rem;
}

[dir="ltr"] .store-locator--store-pickup .store-locator__result-details-cta {
  margin-left: 2.2rem;
}

[dir="rtl"] .store-locator--store-pickup .store-locator__result-details-cta {
  margin-right: 2.2rem;
}
.store-locator--store-pickup .store-locator__result-item:not(:last-child) {
  margin-bottom: 3rem;
}

[dir="ltr"] .store-details__delivery-value {
  margin-left: 1.5rem;
}

[dir="rtl"] .store-details__delivery-value {
  margin-right: 1.5rem;
}

.store-details--extended-modal .store-details__main {
  margin-bottom: 4rem;
}
.store-details--extended-modal .store-details__name {
  margin-bottom: 0.5rem;
}
.store-details--extended-modal .store-details__section:not(:last-child) {
  margin-bottom: 2.25rem;
}
.store-details--extended-modal .store-details__section-title {
  margin-bottom: 0.65rem;
}
.store-details--extended-modal .store-details__hours-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.store-details--extended-modal .store-details__hours-row:not(:last-child) {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: solid 0.0625rem #F0F0F0;
}
.store-details--extended-modal .store-details__hours-day {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4.875rem;
          flex: 0 0 4.875rem;
}

@media (min-width: 48rem) {
  [dir="ltr"] .store-locator--product-availability .store-locator__contents {
    padding-left: 2.5rem;
  }

  [dir="rtl"] .store-locator--product-availability .store-locator__contents {
    padding-right: 2.5rem;
  }
  .store-locator--product-availability .store-details__action-cta {
    min-width: 15rem;
  }

  .store-locator__results {
    max-height: 30rem;
  }

  .store-locator__results--extended {
    max-height: 65vh;
  }
}
@media (max-width: 47.9375rem) {
  .store-locator--product-availability .store-locator__contents {
    margin-top: 3.75rem;
  }

  .store-locator--store-pickup .store-locator__title {
    margin-bottom: 1.5rem;
  }
  .store-locator--store-pickup .store-locator__form-group:not(:last-child) {
    margin-bottom: 1.75rem;
  }
  .store-locator--store-pickup .store-locator__no-results {
    text-align: center;
  }

  .store-locator__results {
    max-height: 22rem;
  }
}
.secondary-navigation {
  position: relative;
  text-transform: uppercase;
}

[dir=ltr] .secondary-navigation__item {
  font-size: 0.75rem;
}
[dir=rtl] .secondary-navigation__item {
  font-size: 0.875rem;
}

@media (min-width: 48rem) {
  .secondary-navigation {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .secondary-navigation__title {
    margin-bottom: 2.4em;
  }

  [dir="ltr"] .secondary-navigation__list {
    margin-left: 1.25em;
  }

  [dir="rtl"] .secondary-navigation__list {
    margin-right: 1.25em;
  }

  .secondary-navigation__item:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .secondary-navigation__item--extra {
    margin-top: 2rem;
  }

  .secondary-navigation__anchor.set--active {
    color: #1D1C1C;
    font-weight: 600;
  }
}
@media (max-width: 47.9375rem) {
  .secondary-navigation {
    margin-bottom: 2rem;
  }

  .secondary-navigation__title {
    margin-bottom: 0.5em;
  }

  .secondary-navigation__trigger {
    position: relative;
    width: 100%;
    padding: 1rem;
    border-bottom: solid 0.0625rem #E6E6E6;
    border-radius: 0;
    font-weight: 600;
    text-transform: uppercase;
  }

  [dir="ltr"] .secondary-navigation__trigger {
    text-align: left;
  }

  [dir="rtl"] .secondary-navigation__trigger {
    text-align: right;
  }

  .secondary-navigation__trigger-icon {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
  }

  [dir="ltr"] .secondary-navigation__trigger-icon {
    right: 1rem;
  }

  [dir="rtl"] .secondary-navigation__trigger-icon {
    left: 1rem;
  }
  .toggle--active .secondary-navigation__trigger-icon {
    -webkit-transform: scale(-1);
            transform: scale(-1);
  }

  .secondary-navigation__list {
    z-index: 1;
    position: absolute;
    top: calc(100% - 0.0625rem);
    width: 100%;
    background-color: #FFF;
    border-bottom: solid 0.0625rem #E6E6E6;
  }

  [dir="ltr"] .secondary-navigation__list {
    left: 0;
  }

  [dir="rtl"] .secondary-navigation__list {
    right: 0;
  }
  .secondary-navigation__list:not(.toggle--active) {
    opacity: 0;
    visibility: hidden;
  }

  .secondary-navigation__item--extra {
    margin-top: 1rem;
  }

  .secondary-navigation__anchor {
    display: block;
    padding: 1rem;
  }
  .secondary-navigation__anchor.set--active {
    background-color: #F9F9F9;
    font-weight: 600;
    color: #1D1C1C;
  }
}
.select2-container {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.select2-container .select2-selection--single {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[dir="ltr"] .select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 8px;
  padding-right: 20px;
}

[dir="rtl"] .select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}
.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}

[dir="ltr"] .select2-container[dir=rtl] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}

[dir="rtl"] .select2-container[dir=rtl] .select2-selection--single .select2-selection__rendered {
  padding-left: 8px;
  padding-right: 20px;
}

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  z-index: 1051;
}

[dir="ltr"] .select2-dropdown {
  left: -100000px;
}

[dir="rtl"] .select2-dropdown {
  right: -100000px;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 6px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
.select2-results__option[aria-selected] {
  cursor: pointer;
}

[dir="ltr"] .select2-container--open .select2-dropdown {
  left: 0;
}

[dir="rtl"] .select2-container--open .select2-dropdown {
  right: 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
}
.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #FFF;
  filter: alpha(opacity=0);
}

[dir="ltr"] .select2-close-mask {
  left: 0;
}

[dir="rtl"] .select2-close-mask {
  right: 0;
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  font-weight: bold;
}

[dir="ltr"] .select2-container--default .select2-selection--single .select2-selection__clear {
  float: right;
}

[dir="rtl"] .select2-container--default .select2-selection--single .select2-selection__clear {
  float: left;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  width: 20px;
}

[dir="ltr"] .select2-container--default .select2-selection--single .select2-selection__arrow {
  right: 1px;
}

[dir="rtl"] .select2-container--default .select2-selection--single .select2-selection__arrow {
  left: 1px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

[dir="ltr"] .select2-container--default .select2-selection--single .select2-selection__arrow b {
  left: 50%;
  margin-left: -4px;
}

[dir="rtl"] .select2-container--default .select2-selection--single .select2-selection__arrow b {
  right: 50%;
  margin-right: -4px;
}

[dir="ltr"] .select2-container--default[dir=rtl] .select2-selection--single .select2-selection__clear {
  float: left;
}

[dir="rtl"] .select2-container--default[dir=rtl] .select2-selection--single .select2-selection__clear {
  float: right;
}

[dir="ltr"] .select2-container--default[dir=rtl] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}

[dir="rtl"] .select2-container--default[dir=rtl] .select2-selection--single .select2-selection__arrow {
  right: 1px;
  left: auto;
}
.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}
.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  font-weight: bold;
  margin-top: 5px;
  padding: 1px;
}

[dir="ltr"] .select2-container--default .select2-selection--multiple .select2-selection__clear {
  float: right;
  margin-right: 10px;
}

[dir="rtl"] .select2-container--default .select2-selection--multiple .select2-selection__clear {
  float: left;
  margin-left: 10px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  margin-top: 5px;
  padding: 0 5px;
}

[dir="ltr"] .select2-container--default .select2-selection--multiple .select2-selection__choice {
  float: left;
  margin-right: 5px;
}

[dir="rtl"] .select2-container--default .select2-selection--multiple .select2-selection__choice {
  float: right;
  margin-left: 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
}

[dir="ltr"] .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin-right: 2px;
}

[dir="rtl"] .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}

[dir="ltr"] .select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice, [dir="ltr"] .select2-container--default[dir=rtl] .select2-selection--multiple .select2-search--inline {
  float: right;
}

[dir="rtl"] .select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice, [dir="rtl"] .select2-container--default[dir=rtl] .select2-selection--multiple .select2-search--inline {
  float: left;
}

[dir="ltr"] .select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

[dir="rtl"] .select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice {
  margin-right: 5px;
  margin-left: auto;
}

[dir="ltr"] .select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

[dir="rtl"] .select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice__remove {
  margin-right: 2px;
  margin-left: auto;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0;
}
.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}
.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}
.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: textfield;
}
.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}
.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}
.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}

[dir="ltr"] .select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

[dir="rtl"] .select2-container--default .select2-results__option .select2-results__option {
  padding-right: 1em;
}

[dir="ltr"] .select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

[dir="rtl"] .select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-right: 0;
}

[dir="ltr"] .select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

[dir="rtl"] .select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-right: -1em;
  padding-right: 2em;
}

[dir="ltr"] .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

[dir="rtl"] .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-right: -2em;
  padding-right: 3em;
}

[dir="ltr"] .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

[dir="rtl"] .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-right: -3em;
  padding-right: 4em;
}

[dir="ltr"] .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

[dir="rtl"] .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-right: -4em;
  padding-right: 5em;
}

[dir="ltr"] .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

[dir="rtl"] .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-right: -5em;
  padding-right: 6em;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white;
}
.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--default {
  max-width: 100%;
  min-width: 100%;
}
.select2-container--default .select2-selection--single {
  width: 100%;
  height: 2.1875rem;
  background-color: transparent;
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  border-radius: 0;
  border: none;
  border-bottom: solid 0.0625rem #1D1C1C;
  background-color: transparent;
  font-weight: 300;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 2.1875rem;
  letter-spacing: normal;
  color: inherit;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 0;
  height: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  top: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
  border: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%231D1C1C' d='M22.8 5.1l-11 11.4L1.2 5.1 0 6.3l11.8 12.6L24 6.3z'/%3E%3C/svg%3E");
  background-size: 0.85rem 0.85rem;
  background-repeat: no-repeat;
}

[dir="ltr"] .select2-container--default .select2-selection--single .select2-selection__arrow b {
  left: 0;
  margin-left: 0;
  background-position: calc(100% - 0.1em) center;
}

[dir="rtl"] .select2-container--default .select2-selection--single .select2-selection__arrow b {
  right: 0;
  margin-right: 0;
  background-position: calc(100% - (100% - 0.1em)) center;
}
.select2-container--default[dir] .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  padding-right: 1.125rem;
}
.select2-container--default[dir] .select2-selection--single .select2-selection__arrow {
  right: 0;
  left: auto;
}
.select2-container--default .select2-dropdown {
  border-color: currentColor;
  border-radius: 0;
}
.select2-container--default .select2-results__options {
  padding: 0;
}
.select2-container--default .select2-results__option {
  min-height: 1.875rem;
  font-size: 0.875rem;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #F0F0F0;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #D50032;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/
.account-main__title {
  margin-bottom: 1em;
}

.account-head {
  margin-bottom: 0.25rem;
}

[dir="ltr"] .account-head {
  padding-left: 0rem;
}

[dir="rtl"] .account-head {
  padding-right: 0rem;
}

.account-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: solid 0.0625rem #E6E6E6;
}

.account-card__header {
  margin-bottom: 2.25rem;
}

.account-card__header--no-spacing {
  margin-bottom: 0;
}

[dir="ltr"] .account-card__order-number-title,
[dir="ltr"] .account-card__order-date-title {
  margin-right: 0.25rem;
}

[dir="rtl"] .account-card__order-number-title,
[dir="rtl"] .account-card__order-date-title {
  margin-left: 0.25rem;
}

.account-card__row:not(:last-child) {
  margin-bottom: 1.45rem;
}

.account-card__row--short-spacing:not(:last-child) {
  margin-bottom: 0.75rem;
}

.account-card__row-title {
  margin-bottom: 0.25em;
}

.account-card__total-items {
  margin: 2.5rem 0 1rem;
}

.account-card__tag {
  display: inline-block;
  margin-bottom: 1.3em;
}

.account-card__body {
  width: 100%;
}

.account-card__footer {
  margin-top: auto;
}

.account-card__footer--border {
  padding-top: 2.5rem;
  margin-bottom: 2rem;
  border-top: solid 0.0625rem #E6E6E6;
}

.account-card__action {
  display: inline-block;
}

@media (min-width: 48rem) {
  .account {
    padding-top: 4.25rem;
    padding-bottom: 3.5rem;
  }

  .account-main__header {
    margin-bottom: 3.25rem;
  }

  .account-card {
    padding: 2.25rem 2.5rem 2.5rem;
    margin-bottom: 1.5rem;
  }

  .account-card__action {
    margin-top: 3.5rem;
  }
}
@media (max-width: 47.9375rem) {
  .account {
    padding-bottom: 3rem;
  }

  .account-main__header {
    margin-bottom: 1.75rem;
  }

  .account-card {
    padding: 2rem 1.25rem;
    margin-bottom: 0.9375rem;
  }

  .account-card__column:not(:last-child) {
    margin-bottom: 1.5em;
  }

  .account-card__action {
    margin-top: 2.25rem;
  }
}
.wishlist__title-message {
  margin-top: 1rem;
}

.wishlist__saved-count,
.wishlist__social-share {
  margin-bottom: 1.5rem;
}

[dir="ltr"] .wishlist-social__item:not(:last-child) {
  margin-right: 1rem;
}

[dir="rtl"] .wishlist-social__item:not(:last-child) {
  margin-left: 1rem;
}

.wishlist__image-wrapper {
  position: relative;
  margin-bottom: 1rem;
}

.wishlist__remove-item-button {
  position: absolute;
  top: 1rem;
  border: 0;
}

[dir="ltr"] .wishlist__remove-item-button {
  right: 1.5rem;
}

[dir="rtl"] .wishlist__remove-item-button {
  left: 1.5rem;
}

.wishlist__remove-item-icon {
  width: 0.75rem;
  height: 0.75rem;
}

.wishlist__product-line-item {
  margin-bottom: 3rem;
}
.wishlist__product-line-item .wishlist__availability {
  margin-top: 1rem;
}

@media (min-width: 48rem) {
  .wishlist__social-share {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .wishlist__remove-item-button {
    top: 0.75rem;
  }
}
.order-history-card {
  position: relative;
  border-top: solid 0.0625rem #E6E6E6;
}

.order-history-card__image {
  margin: 0 auto;
}

.order-history-card__row:not(:last-child) {
  margin-bottom: 0.75rem;
}

.order-history-card__row--spacing-large {
  margin-top: 1rem;
}

[dir="ltr"] .order-history-card__key {
  margin-left: 0.5em;
}

[dir="rtl"] .order-history-card__key {
  margin-right: 0.5em;
}

.order-history-card__action {
  position: absolute;
}

[dir="ltr"] .order-history-card__action {
  right: 0;
}

[dir="rtl"] .order-history-card__action {
  left: 0;
}

.order-details__product-img {
  margin-bottom: 1.75rem;
}

@media (min-width: 48rem) {
  .order-history {
    margin-top: 7.5rem;
  }

  .order-history-card {
    padding-top: 1.25rem;
    margin-bottom: 3.75rem;
  }

  .order-history-card__action {
    top: 1.25rem;
  }

  .order-history-card__total {
    position: absolute;
    bottom: 0;
  }

  [dir="ltr"] .order-history-card__total {
    right: 0;
  }

  [dir="rtl"] .order-history-card__total {
    left: 0;
  }

  .order-details__return-link {
    margin: 2rem 0;
  }
}
@media (max-width: 47.9375rem) {
  .order-history {
    margin-top: 4.125rem;
  }

  .order-history-card {
    padding-top: 3.125rem;
    padding-bottom: 1.6rem;
    border-bottom: solid 0.0625rem #E6E6E6;
  }
  .order-history-card:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .order-history-card__media {
    margin-bottom: 1.25rem;
  }

  .order-history-card__action {
    top: 1.125rem;
  }

  .order-history-card__total {
    margin-top: 0.75rem;
  }

  [dir="ltr"] .order-history-card__total {
    text-align: right;
  }

  [dir="rtl"] .order-history-card__total {
    text-align: left;
  }

  .order-details__return-link {
    margin: 0.5rem 0;
  }
}
.addressbook__list-intro-bar {
  margin-bottom: 2.25rem;
}

@media (max-width: 47.9375rem) {
  .addressbook__list-intro-bar {
    margin-top: 1.25rem;
  }

  .addressbook__list-count {
    width: 100%;
    margin-bottom: 2.125rem;
  }
}
.account-welcome-banner__description {
  margin-top: 0.75em;
}

@media (min-width: 48rem) {
  .account-welcome-banner {
    margin-bottom: 3.75rem;
    padding-top: 3.25rem;
    padding-bottom: 3.25rem;
  }
}
@media (max-width: 47.9375rem) {
  .account-welcome-banner {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.account-subscriptions-tile {
  position: relative;
  margin: 1rem auto 0 auto;
}

.account-subscriptions-tile__image-wrapper {
  position: relative;
  display: block;
}

.account-subscriptions-tile__title {
  position: absolute;
  top: 1rem;
}

[dir="ltr"] .account-subscriptions-tile__title {
  left: 0;
}

[dir="rtl"] .account-subscriptions-tile__title {
  right: 0;
}

.account-subscriptions-tile__additems {
  position: absolute;
  bottom: 1rem;
}

[dir="ltr"] .account-subscriptions-tile__additems {
  right: 1rem;
}

[dir="rtl"] .account-subscriptions-tile__additems {
  left: 1rem;
}

.account-subscriptions-tile--selected {
  position: absolute;
  bottom: 0;
}

[dir="ltr"] .account-subscriptions-tile--selected {
  left: 0;
}

[dir="rtl"] .account-subscriptions-tile--selected {
  right: 0;
}

.account-subscriptions-tile__input:checked + .account-subscriptions-tile--selected {
  border-bottom: 4px solid #e60000;
}

.account-subscriptions-tile__selections {
  margin: 0 auto;
}

.account-subscriptions-tile__selection:last-child {
  margin-bottom: 1rem;
}

.account-subscriptions-tile__selection-checkbox:checked + div {
  display: block;
  margin-top: 1rem;
}

.account-subscriptions-tile__theme .account-subscriptions-tile__image-wrapper {
  border: 2px solid #F0F0F0;
}

.account-subscriptions__boutique-selection {
  margin-top: 1rem;
}

.loader {
  position: fixed;
}
.loader .loader-indicator, .loader .face-loader {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*------------------------------------*\
  #MODULES
\*------------------------------------*/
html.cancel-scroll--force {
  overflow: hidden;
  height: 100%;
}

.cancel-scroll body {
  overflow: hidden;
}
.cancel-scroll--force body {
  overflow: hidden;
  height: 100%;
}

.window-modal {
  z-index: 10000;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-overflow-scrolling: touch;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -ms-flex-align: stretch;
}

[dir="ltr"] .window-modal {
  left: 0;
}

[dir="rtl"] .window-modal {
  right: 0;
}
.window-modal.modal-active {
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.window-modal:not(.modal-active) {
  pointer-events: none;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  opacity: 0;
  visibility: hidden;
}
.window-modal.modal-in-background {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  opacity: 0;
}

.window-modal__content {
  position: relative;
  width: 100%;
  min-height: 6.25rem;
  background-color: #FFF;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -ms-flex-item-align: baseline;
}

[dir="ltr"] .window-modal__content {
  -webkit-transition-property: top, bottom, right, left, height, opacity, visibility, -webkit-transform;
  transition-property: top, bottom, right, left, height, opacity, visibility, -webkit-transform;
  transition-property: top, bottom, right, left, height, transform, opacity, visibility;
  transition-property: top, bottom, right, left, height, transform, opacity, visibility, -webkit-transform;
}

[dir="rtl"] .window-modal__content {
  -webkit-transition-property: top, bottom, left, right, height, opacity, visibility, -webkit-transform;
  transition-property: top, bottom, left, right, height, opacity, visibility, -webkit-transform;
  transition-property: top, bottom, left, right, height, transform, opacity, visibility;
  transition-property: top, bottom, left, right, height, transform, opacity, visibility, -webkit-transform;
}
.modal-active .window-modal__content {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.modal-in-background .window-modal__content > * {
  opacity: 0.5;
}
.window-modal__content > .modal-container--static {
  display: block;
}

.window-modal__close {
  z-index: 10;
  position: absolute;
  height: 2.5rem;
  width: 2.25rem;
}
.window-modal__close:hover:after {
  content: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24'%3E%3Cpath fill='%23D50032' d='M23.8 23l-11-11L23.8.9c.1-.1.1-.6 0-.7-.1-.2-.3-.2-.4-.2-.1 0-.3 0-.3.1L12 11.2 1 .1C1 0 .8 0 .7 0 .4 0 .1.3.1.6.1.7.1.9.2 1l11.1 11L.2 23c-.1.1-.1.4 0 .7.1.1.4.1.7 0l.1-.1 11-10.9 11.1 11.1c.1.3.6.3.7.1.2-.3.2-.6 0-.9z' /%3E%3C/svg%3E");
}
.window-modal__close:after {
  content: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24'%3E%3Cpath fill='%231D1C1C' d='M23.8 23l-11-11L23.8.9c.1-.1.1-.6 0-.7-.1-.2-.3-.2-.4-.2-.1 0-.3 0-.3.1L12 11.2 1 .1C1 0 .8 0 .7 0 .4 0 .1.3.1.6.1.7.1.9.2 1l11.1 11L.2 23c-.1.1-.1.4 0 .7.1.1.4.1.7 0l.1-.1 11-10.9 11.1 11.1c.1.3.6.3.7.1.2-.3.2-.6 0-.9z' /%3E%3C/svg%3E");
  width: 0.875rem;
  height: 0.875rem;
  display: inline-block;
}

/*------------------------------------*\
  #UTILITY-MODAL-CLASSES
\*------------------------------------*/
.modal-container--static {
  display: none;
}

.modal--full .window-modal__content {
  max-width: none;
}

.modal--flex .window-modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.modal--hideable.modal-in-background {
  opacity: 0;
  visibility: hidden;
}

/*------------------------------------*\
  #GENERIC-MODAL
  Use these if you don't know what else to use.
\*------------------------------------*/
.modal__header {
  text-align: center;
  border-top: solid 0.375rem #D50032;
  border-bottom: solid 0.0625rem #E6E6E6;
}

.modal__description {
  line-height: 1.5;
}

.modal__content {
  margin-top: 2rem;
}

.modal__actions {
  margin-top: auto;
}

.modal__action {
  margin-top: 2.5rem;
}

.modal__scrollable {
  max-height: 17.5rem;
  padding-bottom: 1.25rem;
}

/*------------------------------------*\
  #SPECIAL-CASES
\*------------------------------------*/
.modal--quickview .window-modal__content {
  max-width: 60rem;
}

.modal--store-locator .window-modal__content {
  max-width: 68.125rem;
  padding-bottom: 4.75rem;
}

[data-site=denali] .modal--store-locator .window-modal__content {
  max-width: 75rem;
}

.modal--country-selector .window-modal__content {
  max-width: 90rem;
}

.modal--country-selector__content {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.window-modal__content {
  max-width: 62.375rem;
}
@media (min-width: 64.0625rem) {
  .window-modal__content {
    max-height: 100%;
    overflow-y: auto;
  }
}

.modal--newsletter .window-modal__content,
.modal--gift-personalisation .window-modal__content,
.modal--geoip-suggestions .window-modal__content {
  max-width: 45rem;
}

.modal--geoip-suggestions .window-modal__content {
  padding: 2rem;
}
.modal--geoip-suggestions.toggle--active .window-modal__content {
  max-width: 90rem;
}

.modal--personalisation .window-modal__content {
  max-width: 58.25rem;
}

.modal--refill .window-modal__content {
  padding-bottom: 0;
}
.modal--refill .window-modal__content > .window-modal__close {
  display: none;
}
.modal--refill .window-modal__close {
  top: 1rem;
}
.modal--refill .modal__header,
.modal--refill .modal__actions {
  position: -webkit-sticky;
  position: sticky;
  z-index: 99;
}
.modal--refill .modal__header {
  top: 0;
  margin-bottom: 1rem;
  padding: 1.25rem 3.5rem;
}
.modal--refill .modal__actions {
  bottom: 0;
  padding: 1.25rem 0;
  border-top: solid 0.0625rem #E6E6E6;
}

@media (min-width: 48rem) {
  .cancel-scroll--sm-up body {
    overflow: hidden;
  }

  .window-modal__content {
    width: 100%;
    margin: auto;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0;
    visibility: hidden;
  }
  .modal-active .window-modal__content {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    visibility: inherit;
  }

  .window-modal__close {
    top: 1.6rem;
  }

  [dir="ltr"] .window-modal__close {
    right: 1.125rem;
  }

  [dir="rtl"] .window-modal__close {
    left: 1.125rem;
  }

  /*------------------------------------*\
    #GENERIC-MODAL
    Use these if you don't know what else to use.
  \*------------------------------------*/
  .modal--quickview .window-modal__close {
    top: 1.25rem;
  }

  [dir="ltr"] .modal--quickview .window-modal__close {
    right: 1.25rem;
  }

  [dir="rtl"] .modal--quickview .window-modal__close {
    left: 1.25rem;
  }

  .modal--generic .window-modal__content {
    max-width: 45rem;
    min-height: 21.25rem;
    padding-bottom: 2rem;
  }

  .modal__header {
    margin-bottom: 2.25rem;
    padding: 1.45rem 3rem 1.65rem;
  }

  .modal--prompt .window-modal__content {
    max-width: 33.625rem;
    min-height: 14.85rem;
    padding-bottom: 3rem;
  }

  .modal--auth {
    padding: 1.25rem;
  }

  .modal--auth__content {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .modal--newsletter .window-modal__content {
    padding-bottom: 5rem;
  }

  .modal--gift-personalisation .modal__content {
    padding-right: 5.625rem;
    padding-left: 5.625rem;
    padding-bottom: 4.375rem;
  }

  .modal--personalisation .modal__content {
    margin-top: 3.5rem;
    padding-bottom: 3.125rem;
  }

  .modal--store-locator {
    padding: 2rem;
  }

  .modal--refill .window-modal__content {
    max-width: 41rem;
    max-height: 35rem;
    overflow-y: auto;
  }
}
@media (max-width: 47.9375rem) {
  html.cancel-scroll {
    overflow: hidden;
    height: 100%;
  }

  .window-modal__content {
    top: 0;
    min-height: 100%;
    margin-top: auto;
    padding-bottom: 3.75rem;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .modal-active .window-modal__content {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  .window-modal__close {
    top: 1.5rem;
  }

  [dir="ltr"] .window-modal__close {
    right: 0.25rem;
  }

  [dir="rtl"] .window-modal__close {
    left: 0.25rem;
  }

  /*------------------------------------*\
    #GENERIC-MODAL
    Use these if you don't know what else to use.
  \*------------------------------------*/
  .modal--quickview .window-modal__close {
    top: 0.5rem;
  }

  [dir="ltr"] .modal--quickview .window-modal__close {
    right: 0.5rem;
  }

  [dir="rtl"] .modal--quickview .window-modal__close {
    left: 0.5rem;
  }

  .modal--generic .window-modal__content {
    padding-bottom: 3.75rem;
  }

  .modal--refill .window-modal__close {
    top: 1.5rem;
  }

  [dir="ltr"] .modal--refill .window-modal__close {
    right: 0.75rem;
  }

  [dir="rtl"] .modal--refill .window-modal__close {
    left: 0.75rem;
  }

  .modal__header {
    margin-bottom: 2rem;
    padding: 1.65rem 2.5rem 1.5rem;
  }

  .modal--prompt .window-modal__content {
    padding-bottom: 3.75rem;
  }

  /*------------------------------------*\
    #UTILITY-MODAL-CLASSES
  \*------------------------------------*/
  .modal__main--set-center {
    margin: auto;
  }
}
html[lang=th-TH] .modal__content .body-type--deci {
  font-size: 0.8rem;
}
html[lang=th-TH] .login__tab-list .login__tab-item {
  font-size: 1rem;
}
html[lang=th-TH] .registration .form-check-label,
html[lang=th-TH] .registration .form-check-description,
html[lang=th-TH] .registration .cms-generic-copy {
  font-size: 0.8rem;
}

html[lang=th-TH] .registration .iti__dropdown-label {
  top: -1.5rem;
}

html[dir="ltr"][lang=th-TH] .registration .iti__dropdown-label {
  margin-left: 0;
}

html[dir="rtl"][lang=th-TH] .registration .iti__dropdown-label {
  margin-right: 0;
}

/*------------------------------------*\
  #PLACE OVERRIDES HERE
\*------------------------------------*/
.modal--account-subscriptions .window-modal__content {
  max-width: 40rem;
}
.modal--account-subscriptions .window-modal__content .collection--heading {
  padding: 2rem 5rem;
  border-top: 4px solid #e60000;
  border-bottom: 1px solid #F0F0F0;
}

[dir="ltr"] .modal--account-subscriptions .window-modal__content .collection--section {
  padding: 2rem 2rem 2rem 13rem;
}

[dir="rtl"] .modal--account-subscriptions .window-modal__content .collection--section {
  padding: 2rem 13rem 2rem 2rem;
}
.modal--account-subscriptions .window-modal__content .collection--action-buttons {
  padding: 2rem;
  border-top: solid 1px #F0F0F0;
}

@media (min-width: 48rem) {
  .modal--generic .window-modal__content {
    padding: 1rem;
  }
}

/*# sourceMappingURL=accountMain.css.map*/