/**
 * TABLE OF CONTENTS
 *
 * SETTINGS
 * Global..................Globally-available variables and config.
 *
 * TOOLS
 * Mixins..................Useful mixins.
 *
 * COMPONENTS
 * 
 * 
 * MODULES
 *
 */
/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/
/**
 * Returns the value of the `$key` value of a provided `$map`.
 */
/**
 * Uses `getProperty()` to return a value from the `$colors` map.
 */
/**
 * Uses `getProperty()` to return a value from the `$breakpoints` map.
 */
/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/
/*------------------------------------*\
  #COLORS
\*------------------------------------*/
/*------------------------------------*\
  #ELEMENT-DEFAULTS
\*------------------------------------*/
/*------------------------------------*\
  #HEADER-DEFAULTS
\*------------------------------------*/
/*------------------------------------*\
  #HORIZONTAL-SPACING
\*------------------------------------*/
/*------------------------------------*\
  #BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*\
  #TRANSITIONS
\*------------------------------------*/
/*------------------------------------*\
  #TOOLS
\*------------------------------------*/
/**
 * Responsive Mixin
 * This mixin is designed for a _cleaner_ first approach
 * This means that css isn't overridden but rather replaced for
 * different viewport widths; making it easier to inspect/debug css
 *
 * Usage:
 * @include media-query(exclude-medium)    { ... }
 * @include media-query(medium-up-to-site) 	   { ... }
 * ... etc
 */
/**
 * [Adds styles to allow an element's height scale proportionatelly]
 * @param  {[Number]} $width
 * @param  {[Number]} $height
 */
/**
 * [Calculates the percentage aspect ratio (what % height is compared to the width)]
 * @param  {[Number]} $width
 * @param  {[Number]} $height
 * @return {[Number(%)]}
 */
/**
 * *****REMEMBER TO USE MARGIN OR PADDING AND NOT TOP/BOTTOM******
 * [Calculates the center of an element in relation to a provided width and height.
 * Useful to place an absolute element at the center of another when
 * the positioned element cannot be the target's child ]
 * @param  {[Number]} $width
 * @param  {[Number]} $height
 * @return {[Number(%)]}
 */
/**
 * [In the  awful case you can't use Flexbox to vertically align something]
 * @param  {[type]} $transform:       false         [Use transforms to align instead of the absolute trick]
 * @param  {[type]} $pos:             absolute      [position type]
 * @param  {[type]} $posAdj:          0             [position adjustment. If $transform is true, this value only affects the 'top' property.]
 * @param  {[type]} $alignHorizontal: false         [Includes horizontal alignment]
 */
/**
 * Generate Enumerated Class
 * Iterates from 0 to the specified length and generates classes that set the specified property
 * @param  {[String]} $classname:       required      [Required: Specify the class name]
 * @param  {[String]} $property:        $classname    [Optional: Specify the enumerated property (if it's different from the name of the class)]
 * @param  {[Number]} $length:          10            [Optional: Specify the end of the loop]
 * @param  {[String]} $units:           null          [Optional: specify units to append to the enumerated property]
 */
/**
* [Strip the pesky units from values]
* @param  {[Number]} $value
*/
/**
* [Fluid Type]
*/
/**
 * Expose a single property to handle the different text-underline preferences for RTL vs LTR.
 */
/**
 * POSTCSS-RTL/POSTCSS-RTLCSS Has issues parsing inline comments when using production mode, which removes CSS comments.
 * Using the important comment syntax doesn't seem to work either, as that just results in appending the comment with no functionality.
 */
/*------------------------------------*\
  #EXTERNALS
\*------------------------------------*/
.store-locator__detect-location {
  margin-top: 0.5rem;
}

.store-locator__result-content {
  display: block;
}
.store-locator__result-content:hover {
  cursor: pointer;
}
.store-locator__result-content:hover .store-details__name {
  text-decoration: underline;
}

.store-locator__form {
  margin-bottom: 3rem;
}

.store-locator__results,
.store-locator__results--extended {
  overflow: auto;
}

.store-locator__result-item {
  position: relative;
}

.store-locator__no-results {
  margin: auto;
}

.store-locator__actions {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.store-locator__result-item--extended:not(:last-child) {
  margin-bottom: 3.5rem;
}

.store-details--extended .store-details__name {
  margin-bottom: 1rem;
}
.store-details--extended .store-details__section:not(:last-child) {
  margin-bottom: 1.5rem;
}

.store-details--extended .store-details__availability-indicator {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 1.25rem;
}

[dir="ltr"] .store-details--extended .store-details__availability-indicator {
  margin-right: 0.5rem;
}

[dir="rtl"] .store-details--extended .store-details__availability-indicator {
  margin-left: 0.5rem;
}

.store-locator--product-availability .store-locator__contact-form {
  display: none;
  margin-bottom: 1.5rem;
  max-width: 23.5rem;
}
.store-locator--product-availability.set--show-form .store-locator__contact-form {
  display: block;
}
.store-locator--product-availability.set--show-form .store-details--extended:not(.set--show-form) {
  display: none;
}
.store-locator--product-availability.set--show-form .store-locator__query-section-wrapper {
  display: none;
}
.store-locator--product-availability .store-details__hidden-actions {
  display: none;
  margin-bottom: 2rem;
}
.store-locator--product-availability .store-details__contact-description {
  margin-top: 3.25rem;
}
.store-locator--product-availability .store-details--extended.set--show-form .store-details__check-availability {
  display: none;
}
.store-locator--product-availability .store-details--extended.set--show-form .store-details__hidden-actions {
  display: block;
}
.store-locator--product-availability .store-details__hours {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}
.store-locator--product-availability .store-details__hours-day {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.25rem;
          flex: 0 0 6.25rem;
}

.store-locator--store-pickup .store-details__name,
.store-locator--store-pickup .store-details__address {
  margin-bottom: 1rem;
}

.store-locator--store-pickup .store-locator__result-details-cta {
  margin-top: 0.35rem;
}

[dir="ltr"] .store-locator--store-pickup .store-locator__result-details-cta {
  margin-left: 2.2rem;
}

[dir="rtl"] .store-locator--store-pickup .store-locator__result-details-cta {
  margin-right: 2.2rem;
}
.store-locator--store-pickup .store-locator__result-item:not(:last-child) {
  margin-bottom: 3rem;
}

[dir="ltr"] .store-details__delivery-value {
  margin-left: 1.5rem;
}

[dir="rtl"] .store-details__delivery-value {
  margin-right: 1.5rem;
}

.store-details--extended-modal .store-details__main {
  margin-bottom: 4rem;
}
.store-details--extended-modal .store-details__name {
  margin-bottom: 0.5rem;
}
.store-details--extended-modal .store-details__section:not(:last-child) {
  margin-bottom: 2.25rem;
}
.store-details--extended-modal .store-details__section-title {
  margin-bottom: 0.65rem;
}
.store-details--extended-modal .store-details__hours-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.store-details--extended-modal .store-details__hours-row:not(:last-child) {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: solid 0.0625rem #F0F0F0;
}
.store-details--extended-modal .store-details__hours-day {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4.875rem;
          flex: 0 0 4.875rem;
}

@media (min-width: 48rem) {
  [dir="ltr"] .store-locator--product-availability .store-locator__contents {
    padding-left: 2.5rem;
  }

  [dir="rtl"] .store-locator--product-availability .store-locator__contents {
    padding-right: 2.5rem;
  }
  .store-locator--product-availability .store-details__action-cta {
    min-width: 15rem;
  }

  .store-locator__results {
    max-height: 30rem;
  }

  .store-locator__results--extended {
    max-height: 65vh;
  }
}
@media (max-width: 47.9375rem) {
  .store-locator--product-availability .store-locator__contents {
    margin-top: 3.75rem;
  }

  .store-locator--store-pickup .store-locator__title {
    margin-bottom: 1.5rem;
  }
  .store-locator--store-pickup .store-locator__form-group:not(:last-child) {
    margin-bottom: 1.75rem;
  }
  .store-locator--store-pickup .store-locator__no-results {
    text-align: center;
  }

  .store-locator__results {
    max-height: 22rem;
  }
}
/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/
[dir=ltr] .login__tab-item {
  text-underline-position: auto;
}
[dir=rtl] .login__tab-item {
  text-underline-position: under;
}
.login__tab-item.toggle--active {
  -webkit-text-stroke-width: 0.0625rem;
  text-decoration: underline;
}

@media (min-width: 48rem) {
  .login {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .login--sso-landing {
    margin-top: 1.25rem;
  }

  .login__section:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .login__section--padded {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .login__section-content {
    max-width: 23.5rem;
    margin: 0 auto;
  }

  .login__tab-list--page {
    margin-bottom: 4.875rem;
  }

  .login__tab-list--wishlist-page {
    margin-bottom: 2rem;
  }

  [dir="ltr"] .login__tab-item:not(:last-child) {
    margin-right: 3.5rem;
  }

  [dir="rtl"] .login__tab-item:not(:last-child) {
    margin-left: 3.5rem;
  }

  .login__actions--sso-landing {
    margin-top: 2.25rem;
  }
}
@media (max-width: 47.9375rem) {
  .login {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .login--sso-landing {
    margin-top: 0.5rem;
  }

  .login__section:not(:last-child) {
    margin-bottom: 4.5rem;
  }

  .login__section--padded {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .login__tab-list--page,
.login__tab-list--wishlist-page {
    margin-bottom: 1rem;
  }

  [dir="ltr"] .login__tab-item:not(:last-child) {
    margin-right: 1rem;
  }

  [dir="rtl"] .login__tab-item:not(:last-child) {
    margin-left: 1rem;
  }

  .login__actions--sso-landing {
    margin-top: 1.5rem;
  }
  .login__actions--sso-landing .button {
    max-width: 15.25rem;
  }
}

/*# sourceMappingURL=loginMain.css.map*/